// Color
$bodyBackground: #1d1d1d;
$bodyColorText: #e1e2e3;
$headerBackgroundColor: #191919;
$headerBorderColor: #232323;
$linkColor: #e1e2e3;
$contentHoverColorBackground: rgba(0, 0, 0, 0.5);
$footerBackgroundColor: #191919;
$footerBorderColor: #232323;
// contact color
$backgroundContact: #6e6e6e;
